apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: harpy-runtime-role
rules:
  - apiGroups: [""]
    resources: ["configmaps", "secrets"]
    verbs: ["get", "list", "watch"]
  - apiGroups: [""]
    resources: ["pods", "pods/log"]
    verbs: ["get", "list"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: harpy-runtime-rolebinding
subjects:
  - kind: ServiceAccount
    name: harpy-runtime
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: harpy-runtime-role
